.log{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
.logb{
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px; 
    box-shadow: 3px 3px 3px 3px silver;
}